<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Centerline Flipper</Name><AddInID>{0dadac55-8f6a-42b3-9bb1-7b3ee5abe0a3}</AddInID><Description>Add-in to flip the direction of a centerline and then change the address range attributes</Description><Version>0.3.1</Version><Image /><Author>Elliott Plack</Author><Company>Baltimore County Office of Information Technology</Company><Date>12/09/2013</Date><Targets><Target name="Desktop" version="10.2" /></Targets><AddIn language="PYTHON" library="CenterlineButton_addin.py" namespace="CenterlineButton_addin"><ArcMap>
    <Commands>
        <Button caption="Flip Centerlines" category="Centerline Flipper" class="SwapCenterlines" id="CenterlineButton_addin.button" image="Images\centerlineSwap.png" message="Flips the centerline direction and swaps the left/right from/to attributes" tip="Flip/Swap Centerline"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Centerline Toolbar" category="Centerline Flipper" id="CenterlineButton_addin.toolbar" showInitially="true"><Items><Button refID="CenterlineButton_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>